h1, h2, h3, h4, h5 {
  line-height: 1.2;
  font-family: 'Lato', sans-serif;
}


pre, code {
  font-family: 'DejaVu Sans Mono', 'Lucida Sans Typewriter',
    'Lucida Console', 'monaco', 'Bitstream Vera Sans Mono', 'monospace';
  background-color: #EEE;
}

pre code {
  padding: 1em;
  word-wrap: break-word;
  white-space: pre-wrap;
  display: block;
}

code { padding: 1px 0.25em; }

.float-left { float: left; }
.center-text { text-align: center; }

.icon-big { font-size: 3em; }


body {
  margin: 40px auto;
  max-width: 650px;
  line-height: 1.6;
  font-size: 18px;
  color: #444;
  padding: 0px 10px;

  font-family: 'Merriweather', serif;
}

header { text-align: center; }

footer {
  font-size: 13px;
  text-align: center;
}

a { color: #940A00; text-decoration: none; }
a:hover, a:visited { color: #CF6029; }
a:hover { text-decoration: underline; }

footer a { color: #777; }
footer a:visited, footer a:hover { color: #BBB; }
