@import "spectre.css/dist/spectre.css";

.highlight .gh,.highlight .gp,.highlight .gs,.highlight .gu{font-weight:700}.highlight,.highlight pre,.highlight table{color:#f5f5f5}.highlight .c{color:#505050}.highlight .err{color:#fb9fb1}.highlight .k{color:#e1a3ee}.highlight .l{color:#eda987}.highlight .h,.highlight .n{color:#f5f5f5}.highlight .o{color:#12cfc0}.highlight .p{color:#f5f5f5}.highlight .c1,.highlight .cm,.highlight .cp,.highlight .cs{color:#505050}.highlight .gd{color:#fb9fb1}.highlight .ge{font-style:italic}.highlight .gh{color:#f5f5f5}.highlight .gi{color:#acc267}.highlight .gp{color:#505050}.highlight .gu{color:#12cfc0}.highlight .kc,.highlight .kd{color:#e1a3ee}.highlight .kn{color:#12cfc0}.highlight .kp,.highlight .kr{color:#e1a3ee}.highlight .kt{color:#ddb26f}.highlight .ld{color:#acc267}.highlight .m{color:#eda987}.highlight .s{color:#acc267}.highlight .na{color:#6fc2ef}.highlight .nb{color:#f5f5f5}.highlight .nc{color:#ddb26f}.highlight .no{color:#fb9fb1}.highlight .nd{color:#12cfc0}.highlight .ni{color:#f5f5f5}.highlight .ne{color:#fb9fb1}.highlight .nf{color:#6fc2ef}.highlight .nl{color:#f5f5f5}.highlight .nn{color:#ddb26f}.highlight .nx{color:#6fc2ef}.highlight .py{color:#f5f5f5}.highlight .nt{color:#12cfc0}.highlight .nv{color:#fb9fb1}.highlight .ow{color:#12cfc0}.highlight .w{color:#f5f5f5}.highlight .mf,.highlight .mh,.highlight .mi,.highlight .mo{color:#eda987}.highlight .sb{color:#acc267}.highlight .sc{color:#f5f5f5}.highlight .sd{color:#505050}.highlight .s2{color:#acc267}.highlight .se{color:#eda987}.highlight .sh{color:#acc267}.highlight .si{color:#eda987}.highlight .s1,.highlight .sr,.highlight .ss,.highlight .sx{color:#acc267}.highlight .bp{color:#f5f5f5}.highlight .vc,.highlight .vg,.highlight .vi{color:#fb9fb1}.highlight .il{color:#eda987}

h1, h2, h3, h4, h5 {
  line-height: 1.2;
  font-family: Palatino, Palatino Linotype, Palatino LT STD, Book Antiqua, Georgia, serif;
}


pre, code {
  font-family: DejaVu Sans Mono, monospace;
}

/* Improve inline code contrast */
code.highlighter-rouge {
    background: #fcf2f2;
    color: #70000e;
}

code {
    /* override spectre and allow the highlight to specify the color */
    color: inherit;
}

pre code {
  background-image: url('/assets/images/code_bg.png');
  background-size: 45px;
  padding: 1em;
  word-wrap: break-word;
  white-space: pre-wrap;
  display: block;
}

.center-text { text-align: center; }
.icon-big { font-size: 3em; }


body {
  margin: 40px auto;
  max-width: 650px;
  line-height: 1.6;
  font-size: 18px;
  background-image: url('/assets/images/background.jpg');
  background-size: 100px;
  color: #0f0a01;
  padding: 0px 10px;

  font-family: Lucida Grande, Lucida Sans Unicode, Lucida Sans, Geneva, Verdana, sans-serif;
}

nav a:visited { color: #3972A5 }
.sidebar-body {
  text-align: right;
  border-bottom: 1px solid #0f0a01;
  max-width: 650px;
}
@media only screen and (min-width: 800px) {
  .sidebar-wrapper {
    position: relative;
    left: -385px;
    top: 12em;
    transform: rotate(-90deg);
  }
  .sidebar-body {
    position: absolute;
    width: 30em;
  }
}

img {
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

header { text-align: center; }

footer {
  font-size: 13px;
  text-align: center;
}

a { color: #3972A5; text-decoration: none; }
a:hover, a:visited { color: #659CBB; }
a:hover { text-decoration: underline; }

footer a { color: #777; }
footer a:visited, footer a:hover { color: #BBB; }

figcaption { font-size: 80%; text-align: center; }
