---
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">

    <title>{{ page.title }}</title>

    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <meta name="author" content="{{ site.author.name }}">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <script>
      WebFontConfig = {
        google: { families: [ 'Merriweather:400,700,400italic', 'Lato:700' ] }
      };
      (function() {
        var wf = document.createElement('script');
        wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
          '://ajax.googleapis.com/ajax/libs/webfont/1.5.18/webfont.js';
        wf.type = 'text/javascript';
        wf.async = 'true';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(wf, s);
      })(); </script>

    <style type="text/css">
      {% include all.css %}
    </style>
  </head>

  <body>

    <header>
      <h1>{{ page.title }}</h1>
    </header>

    <main>
      {{ content }}
    </main>

    <footer>
      &copy;{{ site.time | date: '%Y' }} {{ site.author.name }} <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a>
    </footer>

  </body>
</html>

