---
layout: compress
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
    <link rel="stylesheet" href="/assets/all.min.css" media="none" onload="if(media!='all')media='all'"><noscript><link rel="stylesheet" href="/assets/all.min.css"></noscript>
    <meta name="google-site-verification" content="AsqTG5tMPMkv7sff7v2xI_gyiUBMwgbdmzrNR_9diJI" />

    <title>{{ page.title }}</title>

    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    {% if page.tags %}<meta name="keywords" content="{{ page.tags | join: ', ' | escape }}"/>{% endif %}
    <meta name="author" content="{{ site.author.name }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-AMS_CHTML" integrity="sha256-nvJJv9wWKEm88qvoQl9ekL2J+k/RWIsaSScxxlsrv8k=" crossorigin="anonymous" async></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-59494707-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-59494707-1', { 'anonymize_ip': true });
    </script>
  </head>

  <body>

    <nav class="sidebar-wrapper"><div class="sidebar-body">
      <a href="/" alt="home page">flaviutamas.com</a>
    </div></nav>

    <main>
      {{ content }}
    </main>

    <footer>
      &copy;{{ site.time | date: '%Y' }} {{ site.author.name }} <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a>
    </footer>
  </body>
</html>

